* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body {
  min-height: 100%;
  font-size: 14px;
  background: rgb(167, 214, 166);
    background: linear-gradient(90deg, rgba(167, 214, 166, 1) 0%, rgba(106, 175, 66, 1) 100%);
}
